<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <title>홈 화면</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/css/indexstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/mo/indexstyle_m.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body style="background-image: url('/images/background-pattern.jpg');background-repeat: repeat;">

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <defs>
        <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
          <path fill="currentColor" d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
          <path fill="currentColor" d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
          <path fill="currentColor" d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
          <path fill="currentColor" d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
          <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
          <path fill="currentColor" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
          <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
        </symbol>
      </defs>
    </svg>

    <div class="preloader-wrapper">
      <div class="preloader">
      </div>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
      <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="order-md-last">
          <ul class="list-group mb-3"><!--게시판 링크 걸기, 유저 연결되면 로그인 아웃 넣기-->
            <li class="list-group-item d-flex indexMenuLi" th:onclick="|location.href='@{/ltforum}'|">
                <img src="/images/img_4.png" ><span>번개 게시판</span>
            </li>
            <li class="list-group-item d-flex indexMenuLi" th:onclick="|location.href='@{/club}'|">
              <img src="/images/img_6.png" ><span>동호회 게시판</span>
            </li>
            <li class="list-group-item d-flex indexMenuLi" th:if="${user != null}" th:onclick="|location.href='@{/user/{userId}(userId=${user.userId})}'|">
              <img src="/images/img_5.png"><span>마이 페이지</span>
            </li>
            <li class="list-group-item d-flex indexMenuLi" th:if="${user == null}" th:onclick="|location.href='@{/login}'|">
              <img src="/images/img_10.png"><span>로그인</span>
            </li>
            <li class="list-group-item d-flex indexMenuLi" th:if="${user}" th:onclick="|location.href='@{/logout}'|">
              <img src="/images/img_9.png"><span>로그아웃</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <header id="index_header" style="background-color:white;">
      <div class="container-fluid">
        <div class="row py-3 border-bottom">

          <div class="col-sm-4 col-lg-3 text-center text-sm-start">
            <div class="main-logo">
              <a href="/">
                <img src="/images/logo.png" alt="logo" class="img-fluid" id="logo_img">
              </a>
            </div>
          </div>
          <!--수정 id=slide_menu추가, class: justify-content-center 삭제-->
          <div id="slide_menu" class="menub col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-sm-end">
            <div class="support-box text-end d-none d-xl-block">
              <span class="fs-6 text-muted">도움이 필요하신가요?</span>
              <h5 class="mb-0" style="font-size:1.7em;">+010-1234-1234</h5>
            </div>

            <ul class="d-flex justify-content-end list-unstyled m-0">
              <li>
                <div class="profileImg">
                  <img th:if="${user != null}" th:src="|/images/${user.getStoreFile()}|" onerror="this.src='/images/img_1.png';" th:onclick="|location.href='@{/user/{userId}(userId=${user.userId})}'|">
                  <img th:if="${user == null}" src="/images/img_1.png" th:onclick="|location.href='@{/login}'|">
                </div>
              </li>
              <li>
                <img id="indexmenu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" src="/images/indexmenu.png">
              </li>
            </ul>

          </div>

        </div>
      </div>
    </header>

    <section id="slide_pc" class="py-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="banner-blocks">

              <div class="banner_t banner-ad large bg-info block-1">

                <div class="banner_m swiper main-swiper">
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <h3 class="display-4">경기 XR 아카데미 모집 공고</h3>
                          <h4>신청 자격</h4>
                          <h5>-경기도민</h5>
                          <h5>-경기도내 고등학교/대학교 재(휴)학생 및 졸업생</h5>
                          <h5>-경기도 소재 기업 종사자 및 대표</h5>
                          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeR_0I2V46ho_8hur9BUB8j6P5U9Hq4D68t2cW_qPY1mrgSUw/viewform?pli=1" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">신청하기</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/indexbanner01.jpg" class="img-fluid">
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% natural</div>
                          <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/product-thumb-1.png" class="img-fluid">
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% natural</div>
                          <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/product-thumb-2.png" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-pagination"></div>

                </div>
              </div>
            </div>
            <!-- / Banner Blocks -->

          </div>
        </div>
      </div>
    </section>
    <section id="slide_m" class="py-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="banner-blocks">
              <div class="banner_t banner-ad large bg-info block-1">
                <div class="banner_m swiper main-swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div id="aa">
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide4.png" class="img-fluid">
                        </div>
                      </div>
                      <div class="row banner-content p-5" id="s1">
                        <div class="content-wrapper col-md-7">
                          <h3 class="display-4">경기 XR 아카데미 모집 공고</h3>
                          <h4>신청 자격</h4>
                          <h5>-경기도민</h5>
                          <h5>-경기도내 고등학교/대학교 재(휴)학생 및 졸업생</h5>
                          <h5>-경기도 소재 기업 종사자 및 대표</h5>
                          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeR_0I2V46ho_8hur9BUB8j6P5U9Hq4D68t2cW_qPY1mrgSUw/viewform?pli=1" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">신청하기</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide1.png" class="img-fluid">
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div id="bb">
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide2.png" class="img-fluid">
                        </div>
                      </div>
                      <div class="row banner-content p-5" id="s2">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% natural</div>
                          <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide2.png" class="img-fluid">
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div id="cc">
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide3.png" class="img-fluid">
                        </div>
                      </div>
                      <div id ="s3" class="row banner-content p-5"> <!-- row banner -->
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% natural</div>
                          <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="/images/mslide3.png" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-pagination"></div>

                </div>
              </div>
            </div>
            <!-- / Banner Blocks -->

          </div>
        </div>
      </div>
    </section>
    <section class="py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex flex-wrap justify-content-between mb-5">
              <h2 class="section-title" style="font-size:3em;">카테고리</h2>

              <div class="d-flex align-items-center">
                <a href="#" class="btn-link text-decoration-none">다른 카테고리 보기 →</a>
                <div class="swiper-buttons">
                  <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                  <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="category-carousel swiper">
              <div class="swiper-wrapper">
                <a class="nav-link category-item swiper-slide" th:each="cate : ${categories}">
                  <img src="/images/category_study.png" th:src="|/images/${cate.filename}|" th:onclick="|location.href='@{/ltforum(category = ${cate})}'|" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title" th:text="${cate.category}">스터디</h3>
                </a>
                <!--<a class="nav-link category-item swiper-slide">
                  <img src="/images/category_game.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">게임</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_meal.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">식사</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_sport.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">스포츠</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_dog.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">애견</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_music.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">음악</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_book.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">독서</h3>
                </a>
                <a class="nav-link category-item swiper-slide">
                  <img src="/images/category_mountain.png" class="category_img" alt="Category Thumbnail">
                  <h3 class="category-title">등산</h3>
                </a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex flex-wrap justify-content-between my-5" style="margin-bottom:2rem!important;">
              
              <h2 class="section-title" style="font-size:3em;">최신 번개 게시글</h2>

              <div class="d-flex align-items-center">
                <a class="btn-link text-decoration-none" style="cursor:pointer;" th:onclick="|location.href='@{/ltforum}'|">모든 게시글 보기</a>
                <div class="swiper-buttons">
                  <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                  <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                </div>  
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="products-carousel swiper">
              <div class="swiper-wrapper">
                
                <div class="product-item swiper-slide" th:each="ltForum : ${ltForums}" th:onclick="|location.href='@{/ltforum/{forumId}(forumId = ${ltForum.forumId})}'|">
                  <div style="height:315px;overflow-y:hidden;">
                    <h3 th:text="${ltForum.subject}"></h3>
                    <span class="qty" th:text="${ltForum.content}"></span>
                  </div>
                  <div style="height:30px;">
                    <span class="price" th:text="${ltForum.host.userId}"></span>
                  </div>
                </div>

              </div>
            </div>
            <!-- / products-carousel -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex flex-wrap justify-content-between my-5" style="margin-bottom:2rem!important;">

              <h2 class="section-title" style="font-size:3em;">최신 동호회 게시글</h2>

              <div class="d-flex align-items-center">
                <a class="btn-link text-decoration-none" style="cursor:pointer;" th:onclick="|location.href='@{/club}'|">모든 동호회 보기</a>
                <div class="swiper-buttons">
                  <button class="swiper-prev products-carousel-prev2 btn btn-primary">❮</button>
                  <button class="swiper-next products-carousel-next2 btn btn-primary">❯</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="products-carousel2 swiper">
              <div class="swiper-wrapper">

                <div class="product-item swiper-slide" th:each="club : ${clubs}" th:onclick="|location.href='@{/club/{clubId}(clubId = ${club.clubId})}'|">
                  <div style="height:315px;overflow-y:hidden;">
                    <h3 th:text="${club.clubName}"></h3>
                    <span class="qty" th:text="${club.intro}"></span>
                  </div>
                  <div style="height:30px;">
                    <span class="price" th:text="${club.host.userId}"></span>
                  </div>
                </div>

              </div>
            </div>
            <!-- / products-carousel -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 my-5">
      <div class="container-fluid">

        <div class="bg-warning py-5 rounded-5" style="background-image: url('/images/bg-pattern-2.png') no-repeat;">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <img src="/images/phone.png" alt="phone" class="image-float img-fluid">
              </div>
              <div class="col-md-8">
                <h2 class="my-5">휴대폰으로 어디서든 세모를 이용해 보세요!</h2>
                <p>세상의 모든 모임, 세모는 모바일에서도 완벽하게 작동합니다! 휴대폰으로 간편하게 세모의 모든 서비스들을 이용할 수 있습니다.</p>
                <div class="d-flex gap-2 flex-wrap">
                  <img src="/images/app-store.jpg" alt="app-store">
                  <img src="/images/google-play.jpg" alt="google-play">
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    <script src="/script/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/script/plugins.js"></script>
    <script src="/script/script.js"></script>
  </body>
</html>