<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

    <link rel="stylesheet" type="text/css" href="/css/vendor.css?afterfsdf">
    <link rel="stylesheet" type="text/css" href="/css/indexstyle.css?aftersdf">
    <link rel="stylesheet" type="text/css" href="/css/mainform.css?sdfsdf">
    <link rel="stylesheet" type="text/css" href="/css/forumform.css?afteasdf">
    <link rel="stylesheet" type="text/css" href="/css/mo/forumform_m.css?afteasdf">
    <link rel="stylesheet" type="text/css" href="/css/mo/indexstyle_m.css?aftersdf">
</head>
<body>
<div th:replace="~{template/side :: copyParam (${user})}"></div>

<div id="ltContainer" class="container">
    <div class="mainTitle">번개 게시판</div>

    <div id="forumWrap" class="mainContentWrap">
        <form id="searchWrap" th:object="${clubSearchCond}" th:action="@{/club}" method="post" enctype="multipart/form-data">
            <input placeholder="검색할 내용을 입력하세요.">
            <div class="popup_btn search_btn" onclick="popup()"><img src=/images/img_11.png></div>
            <button class="search_btn" type="submit"><img src=/images/img_7.png></button>
        </form>

        <div id="ltForumWrap">
            <div class="ltForumDiv" th:each="list : ${lists}" th:onclick="|location.href='@{/ltforum/{forumId}(forumId=${list.forumId})}'|">
                <div class="ltForumTitle"><span th:text="${list.subject}"></span></div>
                <div class="ltForumContent"><span th:text="${list.content}"></span></div>
                <div class="ltForumInfo">
                    <span>작성자 : </span>
                    <span class="ltForumHost" th:text="${list.host.userId}"></span>
                    <span> | 정원 : </span>
                    <span class="ltForumNum" th:text="${list.num}"></span>
                    <span> | 시간 : </span>
                    <span class="ltForumNum" th:text="${list.startTime}"></span>
                    <span> | 작성일 : </span>
                    <span class="ltForumDate" th:text="${list.date}"></span>
                </div>
            </div>
        </div><!--ltForumWrap-->

        <div id="ltButtonWrap">
            <div id="ltForumPageList">
                <span th:if="${#strings.equals(search,'search')}"th:each="page : ${#numbers.sequence(startPage,endPage)}">
                    <a class="ltForumPageBtn" th:if="${page != nowPage}" th:href="@{/ltforum(page = ${page - 1}, host = ${searchHost}, subject=${searchSubject}, content=${searchContent}, state=${searchState}, category=${ltForumSearchCond.category})}" th:text="${page}"></a>
                    <strong class="ltForumPageBtn" th:if="${page == nowPage}" th:text="${page}"></strong>
                </span>

                <span th:if="${#strings.equals(search,'nonsearch')}"th:each="page : ${#numbers.sequence(startPage,endPage)}">
                    <a class="ltForumPageBtn" th:if="${page != nowPage}" th:href="@{/ltforum(page = ${page - 1}, host = ${searchHost}, subject=${searchSubject}, content=${searchContent}, state=${searchState}, category=${ltForumSearchCond.category})}" th:text="${page}"></a>
                    <strong class="ltForumPageBtn" th:if="${page == nowPage}" th:text="${page}"></strong>
                </span>
            </div>

            <button id="ltForumAddBtn" th:onclick="|location.href='@{/add}'|" type="button">
                글 쓰기
            </button>
        </div><!--ltButtonWrap-->
    </div><!--mainContentWrap-->
</div><!--container-->

<div class="search_option_back">
    <form id="search_option_wrap" th:object="${ltForumSearchCond}" th:action="@{/ltforum}" method="get">
        <div id="searchOptionOver">
            <div class="search_option_div"><p>제목</p><input type="text" th:field="*{subject} "placeholder="제목"></div>
            <div class="search_option_div"><p>내용</p><input type="text" th:field="*{content} "placeholder="내용"></div>
            <div class="search_option_div"><p>작성자</p><input type="text" th:field="*{host}" placeholder="작성자"></div>
            <div class="search_option_div"><p>카테고리</p>
                <select name="job" th:field="*{category}" th:name="${ltForumSearchCond.category}">
                    <option th:each="cate : ${categories}" th:text="${cate.category}" th:value="${cate}">완료</option>
                </select>
            </div>
            <div class="search_option_div"><p>시작 시간</p><input type="text" placeholder="시작 시간"></div>
            <div class="search_option_div"><p>주소</p><input type="text" placeholder="주소"></div>
            <div class="search_option_div">
                <select name="job" th:field="*{state}">
                    <option th:value="com">완료</option>
                    <option th:value="ing">진행중</option>
                    <option th:value="ready">레디</option>
                </select>
            </div>
        </div>
        <button id="search_option_btn" type="submit">검색</button>
        <div id="search_option_back_btn" class="popup_btn" onclick="popup()">취소</div>
    </form>
</div>

<script>
    let popup_back = document.querySelector(".search_option_back");

    function popup(){
        let clicked = "clicked";
        if(popup_back.classList.contains(clicked))
        {
            popup_back.classList.remove(clicked);
        }
        else {
            popup_back.classList.add(clicked);
        }
    }
</script>
<script src="/script/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="/script/plugins.js"></script>
<script src="/script/script.js"></script>
</body>
</html>