@media(max-width:450px) {
.container {
    width:350px;
}
#noticeInWrap{
    padding-top: 20px;
    height: 625px;
}

#forum_info{
    width:300px;
    border-collapse: collapse;
    margin-left:20px;
}

#forum_info td {
    padding:0 10px 0 10px;
    height:30px;
    border-spacing: 0;
    text-align: left;
}

#info_tr1 > td {
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

#forum_content{
    width:300px;
    padding:10px;
    min-height:479px;
    border-bottom: 1px solid #D2D2D2;
    text-align: left;
    margin-left:20px;
    white-space:pre-line;

}

#return_btn{
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    padding: 0;
    right: 0;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#return_btn:hover {
    background-color:#626262;
}
}