input{
    outline:none;
    border:0;
    border-bottom: 1px solid #D2D2D2;
    padding:0;
    margin:0;
}

#albumAddContainer{
    font-family: 'Dongle';
    font-size: 25px;
    color: black;
}

.forum_add_div_32{
    transform: translate(-50%,0);
    position: absolute;
    width: fit-content;
    top: 100px;
    left: 50%;
}

#address_div > input{
    margin-bottom:10px;
}

#album_add_btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius:5px;
}

#album_back_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius:5px;
}


