<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/script/jquery-1.11.0.min.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="/css/vendor.css?after">
  <link rel="stylesheet" type="text/css" href="/css/indexstyle.css?after">
  <link rel="stylesheet" type="text/css" href="/css/mainform.css">
  <link rel="stylesheet" type="text/css" href="/css/forumIn.css?aft">
</head>
<body>
<div th:replace="~{template/side :: copyParam (${user})}"></div>

  <div id="ltForumInContainer" class="container">
    <p class="mainTitle">번개 게시판</p>
    <div id="ltForumWrap" class="mainContentWrap">
      <table id="forum_info">
        <tr id="info_tr1">
          <td style="width:590px;">
            <span>제목 : </span>
            <span id="subject" th:text="${forum.subject}"></span>
          </td>

          <td style="width:250px;text-align: right;">
            <span>작성자 : </span>
            <span id="host" th:text="${forum.host.userId}"></span>
          </td>
        </tr>

        <tr id="info_tr2">
          <td style="width:590px;">
            <span>시작시간 : </span>
            <span id="startTime" th:text="${forum.startTime}"></span>
          </td>

          <td style="width:250px;text-align: right;">
            <span>정원 : </span>
            <span id="num" th:text="${forum.num}"></span>
          </td>
        </tr>
      </table>

      <div id="forum_content" th:text="${forum.content}"></div>


      <div id="forum_map">
        <div id="map_content">
          <p>모임 위치</p>
          <span th:text="${forum.address}"></span><span>, </span>
          <span th:text="${forum.detailAddress}"></span><span>, </span>
          <span th:text="${forum.extraAddress}"></span>
        </div>
        <div id="map"></div>
      </div>

      <div id="forum_comment">
        <form th:object="${comment}" th:action method="post">
          <p>댓글</p>
          <input type="text" th:field="*{comment}">
          <button class="forumCommentBtn" type="submit">작성</button>
        </form>
        <div class="commentDiv" th:each="comment : ${comments}">
          <div class="commentDivHost">
            <div class="img_back"><img class="profile_img" th:onclick="|location.href='@{/user/{userId}(userId=${comment.host.userId})}'|" th:src="|/aa/${comment.host.userId}|"></div>
            <div class="commentHost" th:text="${comment.host.userId}"></div>
            <button id="cancel_btn" class="forumCommentBtn" th:if="${(forum.host.userId.equals(user.userId) or #strings.equals(user.role,'ADMIN')) and #strings.equals(comment.part,'unjoin')}" th:unless="${#strings.equals(forum.host.userId,comment.host.userId)}" th:onclick="|location.href='@{/invite/{commentId}(commentId=${comment.commentId})}'|" type="button">초대</button>
            <button class="forumCommentBtn" th:if="${comment.host.userId.equals(user.userId)} or ${forum.host.userId.equals(user.userId)} or ${#strings.equals(user.role,'ADMIN')}" th:onclick="|location.href='@{/delete/{commentId}(commentId=${comment.commentId})}'|" type="button">삭제</button>
          </div>
          <div class="commentText" th:text="${comment.comment}"></div>
        </div>
      </div>

    </div>
    <!--
    <p style="margin-top:-12px">
      <em class="link">
        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
          혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
        </a>
      </em>
    </p>
    -->
    <input id="mappp" type= "hidden" th:value="${forum.address}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd74c171df0111c9f45b362dc5b5df7f&libraries=services"></script>
    <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
              mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
              };
      var mapp = $('#mappp').val();
      // 지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(mapp, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao.maps.Marker({
            map: map,
            position: coords
          });

          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">모임장소</div>'
          });
          infowindow.open(map, marker);

          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(coords);
        }
      });
    </script>
    <button id="edit_btn" class="forumInBtn left" th:if="${#strings.equals(user.userId,forum.host.userId)}" th:onclick="|location.href='@{/ltforum/edit/{forumId}(forumId=${forum.forumId})}'|"
            type="button">수정</button>
    <button id="delete_btn" class="forumInBtn left" th:if="${#strings.equals(user.userId,forum.host.userId)}" th:onclick="|location.href='@{/deleteForum/{forumId}(forumId=${forum.forumId})}'|"
            type="button">삭제</button>

    <button id="return_btn" class="forumInBtn right" th:onclick="|location.href='@{/ltforum}'|">글 목록</button>
    <button id="chatBtn" class="forumInBtn right" th:my="${forum.forumId}" onclick="popupChat(this.getAttribute('my'))" type="button">채팅방</button>
    <button id="startBtn" class="forumInBtn right" th:if="${#strings.equals(user.userId,forum.host.userId) and #strings.equals(forum.state,'ready')}" th:onclick="|location.href='@{/ltforum/start/{forumId}(forumId=${forum.forumId})}'|"
            type="button">시작</button>
    <button id="endBtn" class="forumInBtn right" th:if="${#strings.equals(forum.state,'ing')}" th:onclick="|location.href='@{/ltforum/end/{forumId}(forumId=${forum.forumId})}'|"
            type="button">모임 종료</button>
    <div class="forumInBtn right" th:if="${#strings.equals(forum.state,'com')}" onclick="popup()">피드백</div>
  </div>

<script>
  function popupChat(chatId){
    var url = "/ltforum/chat/"+chatId;
    var openChat = window.open(url, 'target', 'top=100, left=300, width=560, height=680, toolbar=no, menubar=no, location=no, status=no, scrollbars=no, resizable=no');
  }
</script>
  <div class="forumFeedBack">
    <form class="feedBackContainer" th:object = "${feedback}" th:action="@{/ltforum/feedback/{forumId}(forumId=${forum.forumId})}" method="post">
      <div id="feedBackUser">
        <div class="feedBackUserDiv" th:each="part : ${participant}">
          <span class="feedBackUserName" th:text="${part.user.userId}"></span>
          <img class="feedBackDetailBtn" src="/images/feedbackSiren.png" th:myName="${part.user.userId}" onclick="feedPopup(this.getAttribute('myName'))">
        </div><!--feedBackUserDiv-->
      </div><!--feedBackUser-->
      <div id="feedBackESC" class="popupESCBtn" onclick="popup()">X</div>

      <div id="feedBackDetail" th:object = "${feedback}">
        <input type="hidden" th:field="*{forumId}" th:value="${forum.forumId}">
        <input type="hidden" id="feedBackDef" name="defend">


        <div class="feedBackDetailCheck" th:each="fed : ${feeds}" >
          <input type="checkbox" class="check" th:field="*{feed}" th:value="${fed}">
          <label th:for="${#ids.prev('feed')}" th:text="${fed.value}"></label>
        </div>

        <div class="feedBackDetailRea">
          <span>세부 사항</span><br>
          <textarea th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
        </div>

        <div id="feedBackDetailESC" class="popupESCBtn" onclick="feedPopup()">X</div>
        <button id="submitFeedBackBtn" type="submit">피드백 보내기</button>
      </div><!--feedBackDetail-->
    </form><!--feedBackContainer-->
  </div><!--forumFeedBack-->

  <script>
    let popup_back = document.querySelector(".forumFeedBack");

    function popup(){
      let clicked = "clicked";
      if(popup_back.classList.contains(clicked))
      {
        popup_back.classList.remove(clicked);
      }
      else {
        popup_back.classList.add(clicked);
      }
    }

    let feedBackStat = "block";


    function feedPopup(name){
      if(feedBackStat == "none") {
        document.getElementById("feedBackUser").style.display = "block";
        document.getElementById("feedBackDetail").style.display = "none";
        feedBackStat = "block";
      }
      else if(feedBackStat == "block") {
        console.log(name);
        document.getElementById("feedBackDef").value = name;
        document.getElementById("feedBackUser").style.display = "none";
        document.getElementById("feedBackDetail").style.display = "block";
        feedBackStat = "none";
      }
    }


  </script>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="/script/plugins.js"></script>
<script src="/script/script.js"></script>
</body>
</html>